.sidebar {
    width: 20%;
    border-right: 2px solid #3F3F46;



}

.sidebar_icons {
    border: 2px solid #3F3F46;
    width: 13rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 10px 20px;
    border-radius: 1em;
}

.span_text {
    color: #A1A1AA;
    font-weight: 400;
    font-size: 1em;
}

.custom_svg {
    stroke: white;
}

.icon_hover{
    background-color:#1A1A1A;
    border-radius: 0.3em;
    padding: 10px 15px;
    color: white;
    position: relative;
    transition: 0.1s ease;
    border-left: 2px solid #FF5E1A;
   
}


.starter{
    font-size: 1em;
    font-weight: bold;
    color: #FF5E1A;
}

.ugrade_btn{
    padding: 4px 10px;
    border: 1px solid #3F3F46;
    outline: none;
    margin: auto;
    border-radius: 4px;
}


