
.dashboard_box{
    display: flex;
    justify-content: space-between;
    background: #1f1f23;
    padding: 5px 15px;
    border-radius: 0.5em;
    align-items: center;

}

.header_text{
    font-size: 1em;
    color: white;
    font-weight: 500;
}
.integrtae_paragraph {
    color: #A1A1AA;
    font-weight: lighter;
  }

  .btn_dashboard{
    border: 2px solid #D4D4D8;
    padding: 2px 10px;
    border-radius: 4px;
  }

 